.footer{
  background-color: #000;
  padding: 0px 20px;
}
.footer-container{
  display: grid;
  grid-template-columns:  minmax(120px, 1fr) minmax(200px, 2fr) 1fr;
  gap: 40px;
  padding-top: 90px;
  padding-bottom: 45px;
  justify-content: space-between;
  justify-items: center;
}
.footer h3{
  color:#fff;
  margin-bottom: 32px;
}
.footer-contato ul{
  margin-bottom: 32px;
  color: #b2b2b2;
}

.footer-contato :is(a[href^="tel"], a[href^="mailto"], li[class^="ender"], a[href^="https://www.google.com/maps/"]){
  position: relative;
  margin-left: 24px;
}
.footer-contato :is(a, li)::before{
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  left: -32px;
  top: -4px;
}
.footer-contato a[href^="tel"]::before{
  background: url('../img/icones/telefone.svg') no-repeat center center;
}
.footer-contato a[href^="mailto"]::before{
  background: url('../img/icones/email.svg') no-repeat center center;
}
.footer-contato li[class^="ender"]::before{
  background: url('../img/icones/local.svg') no-repeat center center;
}
.footer-contato a[href^="https://www.google.com/maps/"]::before{
  background: url('../img/icones/planeta-terra.svg') no-repeat center center;
}

.footer-contato li:nth-child(3):after,.footer-contato li:nth-child(5):after{
  content: '';
  display: block;
  max-width: 360px;
  height: 2px;
  background: #9c9c9c;
  margin-top: 16px;
}
.footer-informacoes li{
  box-shadow: 0px 2px 1px rgb(138, 217, 19);
  display: flex;
}
.footer-informacoes li:hover{
  box-shadow: 0px 3px 1px rgb(153, 255, 0);
}
.footer-informacoes li + li{
  margin-top: 20px;
}
.footer-informacoes a{
  border-radius: 5px;
  padding: 5px 30px;
  width: 100%;
}
.footer li{
  margin-bottom: 16px;
}
.footer-redes{
  display: flex;
  gap: 15px;
  justify-content: center;
}
.footer a{
  color: #b2b2b2;
}
.footer a:hover{
  color: #67dd0a;
}
.footer-copy{
  color: #9c9c9c;
  grid-column: 1/-1;
  margin-top: 60px;
  text-align: center;
  position: relative;
  padding-bottom: 50px;
}
.footer-copy::before{
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  left: 5%;
  right: 5%;
  background: #9c9c9c;
  position: absolute;
  top: -45px;
}
@media(max-width: 770px){
.footer h3{
  text-align: center;
}
}
@media(max-width: 600px){
.footer-container{
  grid-template-columns:  1fr; /*1fr 3fr 2fr*/
}
.footer-informacoes ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.footer-informacoes li{
  text-align: center;
}
.footer-informacoes li + li{
  margin-top: 0px;
}
.footer-informacoes a{
  padding: 5px 5px;
}
}