.formacao{
  background: #141414;
  color: #fff;
  width: 100% !important;
}
.formacao-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}
.formacao .subtitulo{
  color: #000;
  max-width: 5ch;
}
.formacao-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}
.formacao-texto strong{
  color: #fff;
}
.faculdade-lista{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.faculdade{
  flex: 1;
  background: #000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.faculdade-tipo{
  font-size: .875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-top: 10px;
}
.faculdade-curso{
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
  flex: 1;
}
.faculdade-curso::before{
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829,#67dd0a);
  position: absolute;
  left: -24px;
}
.faculdade-curso:hover::before{
  background: linear-gradient(#aa98a8,#980bb4);
}
.faculdade-instituicao{
  font-size: 1.125rem;
  color: #a3a3a3;
}
.cursos{
  margin-bottom: 60px;
}
.formacao-extra h3{
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.formacao-extra h3::before{
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  left: -32px;
  top: -4px;
}
.cursos h3::before{
  background: url('../img/cursos.svg') no-repeat center center;
}
.idiomas h3::before{
  background: url('../img/idiomas.svg') no-repeat center center;
}
.formacao-extra li{
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}
.formacao-extra span{
  color: #8f8f8f;
}
.cursos li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cursos a{
  color: #fff;
}
.cursos a:hover{
  color: #67dd0a;
}
.cursos a:hover::before{
  content: '→';
  display: inline-block;
  width: 30px;
}
@media (max-width: 800px){
  .formacao-container{
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo{
    color: #fff;
  }
  .formacao-texto{
    font-size: 1.25rem;
  }
  .formacao-extra h3::before{
    position: initial;
    margin-bottom: 10px;
  }
  .formacao-container::after{
  width: 100px;
  background-size: cover;
}
}