.header{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fundo-1);
}
.logo{
  width: 150px;
  height: 38px;
  background: var(--logo);
}
.header-menu{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.header-menu a{
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  color: var(--fonte-cor-1);
  display: block;
  background: var(--fundo-3);
  border-radius: .3rem;
  filter: drop-shadow(0px 4px 1px rgb(138, 217, 19));
  transition: 1s;
}
.header-menu a:hover{
  color: rgb(151, 12, 179);
  filter: drop-shadow(0px 4px 1px rgb(151, 12, 179));
}
@media (max-width: 800px) {
  .header{
    flex-direction: column;
    gap: 40px;
    padding: 10px;
  }
  .header-menu a{
    padding: 10px 10px;
  }
  .logo{
    margin-top: 40px;
  }
}
@media (max-width: 350px){
  .header-menu a{
    padding: 10px 5px;
  }
}