.introducao {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  background-color: var(--fundo-1);
  color: var(--fonte-cor-1);
}
.introducao img {
  border-radius: 5%;
  transition: 1s;
}
.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}
.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}
.introducao p {
  font-size: 1.5rem;
  color: var(--fonte-cor-2);
  padding-right: 20px;
}
.localizacaoPlaneta {
  position: relative;
}
@keyframes seta {
  from {
    transform: translateY(-30%);
  }
}
.emotePlaneta {
  position: absolute;
  animation: seta 0.5s ease-in 0s infinite alternate;
}
@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}
@media (max-width: 500px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}

/*---------- animação de slide ----------*/
.slide-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  background-color: var(--fundo-1);
}
.slider {
  position: relative;
  overflow: hidden;
  height: 120px;
  border-radius: 20px;
}
.slide-track {
  position: absolute;
  animation: scroll 10s linear infinite;
  display: flex;
}
.slide-track:hover {
  animation-play-state: paused;
}
.slide {
  height: 100px;
  width: 140px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-140px * 10));
  }
}

@media (max-width: 500px) {
  .slide-container {
    padding: 20px 20px;
  }
}
